<!DOCTYPE html>
<html lang="en-us" id="extr-page">

<head>
    <title>
        <%= pageTitle %>
    </title>
    
    <%- include('../includes/main-header.ejs') %>
</head>

<body>

    <%- include('../includes/left-navigation.ejs') %>

    <%- include('../includes/main-footer.ejs') %>

    <script type="text/javascript">
        $(function () {
            pageSetUp();
        });
    </script>
</body>

</html>